<project>
  <modelVersion>4.0.0</modelVersion>
  <groupId>{{ artifactGroupId }}</groupId>
  <artifactId>{{ artifactArtifactId }}</artifactId>
  <version>{{ artifactVersion }}</version>
  <packaging>{{ artifactPackaging }}</packaging>
</project>
