[Unit]
Description=Apache Zookeeper server 
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target 
After=network.target remote-fs.target

[Service]
Environment=JAVA_HOME={{ java_dir_link }}
Environment=PATH=$PATH:{{ java_dir_link }}/bin
Type=forking
User={{ appuser }}
Group={{ appuser }}
ExecStart={{ zookeeper_dir_link }}bin/{{ zookeeper_start_script_name }} {{ zookeeper_start_script_params }}
ExecStop={{ zookeeper_dir_link }}bin/{{ zookeeper_stop_script_name }} {{ zookeeper_stop_script_params }}
ExecReload={{ zookeeper_dir_link }}bin/{{ zookeeper_start_script_name }} restart
WorkingDirectory={{ zookeeper_dir_link }}

[Install]
WantedBy=multi-user.target
