#!/bin/bash
start=$(date +%s)
echo -e "The script will run with {{ threads_number }} threads\e[49m\e{39m"
echo "Rscript execution started at $(date +%m/%d/%Y\ %T:%N\ %Z)" 
Rscript {{ Rscript_name }} {{ threads_number }} {{ dataset_rows_quantity }} {{ pass_num }} {{ models_location }} {{ output_file }}
#sleep 2
end=$(date +%s)
runtime=$((end-start))
echo -e "\e[92mRuntime: $runtime seconds\e[39m"

