<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Kafka</short>
  <description>Kafka service for NGS EDD project. A member of kafka cluster</description>
  <port protocol="tcp" port="{{ kafka_listener_port }}"/>
</service>

